<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287386333635-docmlqusnr6t3nedi97llc2n6394nk90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287386333635-docmlqusnr6t3nedi97llc2n6394nk90</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>287386333635-hp75q0lb33e7bd9kr5j8spsam36q55ln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWfIiwKzHyVPnL29CKJFjK8c7LY8mT-JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>287386333635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newShalongApp</string>
	<key>PROJECT_ID</key>
	<string>shalong-4a203</string>
	<key>STORAGE_BUCKET</key>
	<string>shalong-4a203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287386333635:ios:26be113d2fd27e048e8d76</string>
</dict>
</plist>